[alias]
	co = checkout
	cp = cherry-pick
	clean-merged = "!git branch --merged | grep -v \\* | xargs git branch -D "
	clean-branches = "!git branch | grep -v \\* | xargs git branch -D "
	a = add
	ad = add
	diff-branch = !git diff $(git merge-base --fork-point master)
	com = commit
	aa = add -A
	staged = diff --staged
	up = push
	down = pull
	t = ticket
[push]
	default = current
[commit]
	template = /Users/kyle/.gitmessage
	gpgsign = true
[core]
	excludesfile = /Users/kyle/.gitignore_global
	autocrlf = false
	editor = nvim
[github]
	user = keyboard-clacker
[format]
  # the %x08's are delete characters
	pretty = format:%C(yellow)%h %Creset— %C(cyan)%ai%x08%x08%x08%x08%x08%x08%x08%x08%x08 %Creset— %C(red)%<(15)%an %Creset%<(85,trunc)%s
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rebase]
	autosquash = true
[diff]
	colorMoved = zebra
[url "https://github.com/"]
  insteadOf = ssh://git@github.com/
[fetch]
	prune = true
[user]
	email = kylelholzinger@gmail.com
	name = kyle
[include]
  path = ~/.gitconfig__local
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = true
