[submodule "pack/user/start/webapi-vim"]
	path = pack/user/start/webapi-vim
	url = https://github.com/mattn/webapi-vim
[submodule "pack/user/start/yajs.vim"]
	path = pack/user/start/yajs.vim
	url = ssh://git@github.com/othree/yajs.vim
[submodule "pack/user/start/vim-surround"]
	path = pack/user/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "etc/iterm2-material-design"]
	path = etc/iterm2-material-design
	url = https://github.com/MartinSeeler/iterm2-material-design
[submodule "pack/user/start/indentLine"]
	path = pack/user/start/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "pack/user/start/tern_for_vim"]
	path = pack/user/start/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "pack/user/start/vim-test"]
	path = pack/user/start/vim-test
	url = https://github.com/vim-test/vim-test
[submodule "pack/user/start/neoterm"]
	path = pack/user/start/neoterm
	url = https://github.com/kassio/neoterm
[submodule "pack/user/start/LanguageClient-neovim"]
	path = pack/user/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule "pack/user/start/typescript-vim"]
	path = pack/user/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "pack/user/start/vim-open-github"]
	path = pack/user/start/vim-open-github
	url = git@github.com:k0kubun/vim-open-github
[submodule "pack/user/start/ale"]
	path = pack/user/start/ale
	url = git@github.com:dense-analysis/ale
[submodule "pack/user/start/auto-pairs"]
	path = pack/user/start/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs
[submodule "pack/user/start/committia.vim"]
	path = pack/user/start/committia.vim
	url = git@github.com:rhysd/committia.vim
[submodule "pack/user/start/fzf.vim"]
	path = pack/user/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim
[submodule "pack/user/start/vim-gist"]
	path = pack/user/start/vim-gist
	url = git@github.com:mattn/vim-gist
[submodule "pack/user/start/goyo.vim"]
	path = pack/user/start/goyo.vim
	url = git@github.com:junegunn/goyo.vim
[submodule "pack/user/start/loupe"]
	path = pack/user/start/loupe
	url = git@github.com:wincent/loupe
[submodule "pack/user/start/nerdtree"]
	path = pack/user/start/nerdtree
	url = git@github.com:preservim/nerdtree
[submodule "pack/user/start/oceanic-next"]
	path = pack/user/start/oceanic-next
	url = git@github.com:mhartington/oceanic-next
[submodule "pack/user/start/rainbow"]
	path = pack/user/start/rainbow
	url = git@github.com:luochen1990/rainbow
[submodule "pack/user/start/vim-airline-themes"]
	path = pack/user/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes
[submodule "pack/user/start/vim-airline"]
	path = pack/user/start/vim-airline
	url = git@github.com:vim-airline/vim-airline
[submodule "pack/user/start/vim-exchange"]
	path = pack/user/start/vim-exchange
	url = git@github.com:tommcdo/vim-exchange
[submodule "pack/user/start/vim-fish"]
	path = pack/user/start/vim-fish
	url = git@github.com:dag/vim-fish
[submodule "pack/user/start/vim-jsdoc"]
	path = pack/user/start/vim-jsdoc
	url = git@github.com:heavenshell/vim-jsdoc
[submodule "pack/user/start/vim-jsx-pretty"]
	path = pack/user/start/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty
[submodule "pack/user/start/vim-less"]
	path = pack/user/start/vim-less
	url = git@github.com:groenewege/vim-less
[submodule "pack/user/start/vim-prettier"]
	path = pack/user/start/vim-prettier
	url = git@github.com:prettier/vim-prettier
