layout {
    background-color "transparent"

    focus-ring {
        active-color   "#83a598"
        inactive-color "#928374"
        urgent-color   "#fb4934"
    }

    border {
        active-color   "#83a598"
        inactive-color "#928374"
        urgent-color   "#fb4934"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#83a598"
        inactive-color "#928374"
        urgent-color   "#fb4934"
    }

    insert-hint {
        color "#83a59880"
    }
}

recent-windows {
    highlight {
        active-color   "#076678"
        urgent-color   "#fb4934"
    }
}