layout {
    background-color "transparent"

    focus-ring {
        active-color   "#8fb573"
        inactive-color "#5a5b5e"
        urgent-color   "#e75a7c"
    }

    border {
        active-color   "#8fb573"
        inactive-color "#5a5b5e"
        urgent-color   "#e75a7c"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#8fb573"
        inactive-color "#5a5b5e"
        urgent-color   "#e75a7c"
    }

    insert-hint {
        color "#8fb57380"
    }
}

recent-windows {
    highlight {
        active-color   "#3d5030"
        urgent-color   "#e75a7c"
    }
}