[alias]
	a = add
	ad = add
	clean-branches = "!git branch | grep -v \\* | xargs git branch -D "
	clean-merged = "!git branch --merged | grep -v \\* | xargs git branch -D "
	co = checkout
	com = commit
	cp = cherry-pick
	diff-branch = !git diff $(git merge-base --fork-point master)
	main = !git switch $(git branch | grep -m 1 -Eo '\\smain|\\smaster')
	s = switch
	staged = diff --staged
	t = ticket
	u = push
	d = pull
	down = pull
	up = push
	su = submodule update --recursive --init
	ape = "!git commit -C @ --amend && git push --force-with-lease"
	gh-clone = "!sh -c 'git clone git@github.com:$1' - "
	hotfix = ! git switch --create hotfix/$(git branch | grep \\* | sed -e s/^\\*[[:space:]]// | tr -d \\n)
	staash = stash --all
	judge = blame -w -C -C -C
	b = !better-branch
	fo = fetch origin
	rb = rebase
	pf = push --force-with-lease
[push]
	default = current
	autoSetupRemote = true
[commit]
	template = ~/.gitmessage
	gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = false
	editor = nvim
	pager = less -x1,5
[github]
	user = avegancafe
[format]
	# the %x08's are delete characters
	pretty = format:%C(yellow)%h %Creset— %C(cyan)%ai%x08%x08%x08%x08%x08%x08%x08%x08%x08 %Creset— %C(red)%<(20,trunc)%an %Creset%<(75,trunc)%s
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rebase]
	autosquash = true
[diff]
	colorMoved = zebra
	tool = Kaleidoscope
[url "https://github.com/"]
	insteadOf = ssh://git@github.com/
[fetch]
	prune = true
[user]
	signingkey = ~/.ssh/id_ed25519
[include]
	path = ~/.config/local/gitconfig
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[pull]
	rebase = true
[init]
	defaultBranch = main
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
	trustExitCode = true
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[column]
	ui = auto
[branch]
	sort = -committerdate
[rerere]
	enabled = true
[gpg]
	format = ssh
