[alias]
	a = add
	ad = add
	ape = "!git commit -C @ --amend && git push --force-with-lease"
	b = !better-branch
	clean-branches = "!git branch | grep --invert-match --regexp '\\*\\|master\\|main' | xargs git branch -D "
	clean-merged = "!git branch --merged | grep --invert-match --regexp '\\*\\|master\\|main' | xargs git branch -D "
	cm = "clean-merged"
	co = checkout
	com = commit
	cp = cherry-pick
	diff-branch = !git diff $(git merge-base --fork-point master)
	fo = fetch origin
	judge = blame -w -C -C -C
	main = !git switch $(git branch | grep -m 1 -Eo '\\smain|\\smaster')
	pdiff = "!git diff --name-only --relative --diff-filter=d | xargs bat --diff"
	pf = push --force-with-lease
	rb = rebase
	s = switch
	staash = stash --all
	staged = diff --staged
	su = submodule update --recursive --init
	t = ticket
	up = push
	squash = rebase --autosquash main
	fixup = commit --fixup
	re = restore
[push]
	default = current
	autoSetupRemote = true
[commit]
	template = ~/.gitmessage
	gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = false
	editor = nvim
	pager = less -x1,5
[github]
	user = avegancafe
[format]
	# the %x08's are delete characters
	pretty = format:%C(yellow)%h%Creset — %C(cyan)%ai%x08%x08%x08%x08%x08%x08%x08%x08%x08%Creset — %C(red)%<(20,trunc)%an %Creset%<(75,trunc)%s
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rebase]
	autosquash = true
	updateRefs = true
[diff]
	colorMoved = zebra
	tool = Kaleidoscope
[url "https://github.com/"]
	insteadOf = ssh://git@github.com/
[fetch]
	prune = true
[user]
	signingkey = ~/.ssh/id_ed25519
[include]
	path = ~/.config/local/gitconfig
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[pull]
	rebase = true
[init]
	defaultBranch = main
[difftool]
	prompt = false
	trustExitCode = true
[mergetool]
	prompt = false
[column]
	ui = auto
[branch]
	sort = -committerdate
[rerere]
	enabled = true
[gpg]
	format = ssh
